body {
  background-color: #ffffff; }

h1, h2, h3, h4, p, a, span {
  color: #383736;
  line-height: 30px; }
  h1.inverse, h2.inverse, h3.inverse, h4.inverse, p.inverse, a.inverse, span.inverse {
    color: #ffffff; }

h1 {
  font-size: 48px; }

h2 {
  font-size: 36px; }

h3, p {
  font-size: 22px; }

a {
  font-size: 22px;
  text-decoration: underline; }

section.inverse {
  background-color: #383736; }

/*# sourceMappingURL=breadlab.css.map */
