// Variables

// Colors
$primary: #383736
$secondary: #ffffff

// Fonts
$bold: SofiaProBlack
$medium: SofiaProMedium

body
	background-color: $secondary

h1, h2, h3, h4, p, a, span
	color: $primary
	line-height: 30px
	&.inverse
		color: $secondary

h1
	font-size: 48px
	
h2
	font-size: 36px

h3, p
	font-size: 22px

a
	font-size: 22px
	text-decoration: underline

section
	&.inverse
		background-color: $primary